body {
  font-family: 'Roboto', sans-serif;
  color: #383838;
  font-size: 16px;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0.8rem;
}

h1 {
    color: #383838;
    margin-bottom: 0;
}

h1, h2 {
    text-align: center;
}

h3 {
    font-weight: 700;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    margin-top: 3rem;
    background-color: #F5F5F5;
} 

header nav ul, footer nav ul {
    list-style-type: none;
}

header nav li {
    background-color: white;
    padding: 1rem;
    width: 90%;
    text-align: center;
    font-size: 18px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}


nav ul li a:hover {
    border-bottom: 2px solid #ee7b7b;
}

nav ul li a {
    padding-bottom: 0.3rem;
}


.profile-image {
    width: 70%;
    margin: 0 auto;
    display: block;
}

.student-profile {
    margin-top: 3rem;
}

.student-profile p {
    text-align: center;
    margin-top: 2rem;
    line-height: 1.3;
    color: #505050
}

section img {
    width: 100%;
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto 2rem;
}

.portfolio-section p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.contact .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    01rem: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 40%;
}

.icon-container img {
    height: 50px;
    width: auto;
}

.contact {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3.5rem;
}

.contact p {
    text-align: center;
}

.contact a {
    font-weight: bold;
 
}

.contact h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.contact h4 {
    margin: 0;
    font-weight: normal;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    border-top: 1px solid darkgrey;
    font-weight: 700;
    padding-bottom: 3rem;
    padding-top: 1rem;
}

footer .tablet-link {
    display: none;
}

.contact a, footer a {
    text-decoration: none;
    color: #383838;
}

footer a {
    text-transform: uppercase;
}

@media (min-width: 768px){
    .student-profile {
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
        /* height: 400px; */
    }

.student-profile p {
    text-align: left;
    flex-grow: 2;
    margin-top: 0;
}

header nav ul {
    flex-direction: row;
}

header nav ul li {
    width: 12%;
}

body {
    padding: 1rem;
}
.portfolio-main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.portfolio-section {
    flex-grow: 1;
    width: 45%;
    margin-top: 0;
    justify-content: flex-start;
}

.portfolio-section p {
    text-align: center;
    width: 80%;
}

footer nav {
    display: flex;
    gap: 1rem;
}

footer .mobile-link {
    display: none;
}

footer .tablet-link {
    display: inline;
}

footer nav ul {
    display: flex;
    gap: 1.5rem;
    padding: 0;
}

header nav li {
    background-color: #F5F5F5;
}

.student-profile .profile-image {
   width: 43%;
   height: auto;
   margin-bottom: 3rem;
}

header p {
    font-size: 18px;
}

.contact p {
    width: 63%;
}

.skill-container {
   flex-basis: 0;
   flex-grow: 1;
}

.icon-container {
    width: 70%;
    margin: 0 auto;
    gap: 3rem;
}


}

@media (min-width: 1024px) {
    .header-nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav ul li {
        width: 100%;
        padding: 0;
    }

    body {
        padding: 4rem;
    }

    .student-profile .profile-image {
        width: 100%;
     }

     .portfolio-section {
        width: 30%;
     }

     .student-profile {
        gap: 4rem;
        margin-top: 5rem;
     }

     .student-profile p {
        width: 85%;
        font-size: 20px;
     }

     h1 {
        margin-top: 0;
     }

     header nav ul {
        gap: 2rem;
        margin-top: 0;
        margin-bottom: 0;
     }

     header nav ul li {
        font-size: 1rem;
     }

     h2 {
        margin-top: 4rem;
        margin-bottom: 5rem;
     }

     footer {
        padding-bottom: 0;
     }

 

}
